/*------Landing Container-----*/
.landing-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-image: -webkit-radial-gradient(circle, rgba(51, 51, 51, 0.7) 0%, rgba(0,0,0,.9) 100%), url(../images/1024-768.jpg);
  background-image: -moz-radial-gradient(circle, rgba(51, 51, 51, 0.7) 0%, rgba(0,0,0,.9) 100%), url(../images/1024-768.jpg);
  background-image: -ms-radial-gradient(circle, rgba(51, 51, 51, 0.7) 0%, rgba(0,0,0,.9) 100%), url(../images/1024-768.jpg);
  background-image: -o-radial-gradient(circle, rgba(51, 51, 51, 0.7) 0%, rgba(0,0,0,.9) 100%), url(../images/1024-768.jpg);
  background-image: radial-gradient(circle, rgba(51, 51, 51, 0.7) 0%, rgba(0,0,0,.9) 100%), url(../images/1024-768.jpg);
  background-size: cover;
}

#centering {
  width: 20%;
  margin: 0 auto;
  margin-top: 16%;
  text-align: center;
  text-transform: uppercase;
}

#centering h1 {
  color: #fff; 
  font-weight: 400;
  font-size: 2.6em;
  word-spacing: 20px;
}

#centering button {
  width: 100%;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  padding: 25px 0;
  border-radius: 15px;
  border: 3px solid #fff;
  font-family: 'Dosis', sans-serif;
  color: #fff;  
  font-size: 2.3em;
  cursor: pointer;
  text-transform: uppercase;
  background-color: transparent;
}

/*------Main Container------*/
html {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  color: #ccc;
  font-weight: 300;
}

h1,h2,h3 {
  font-weight: 300;
}

.body-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-image: -webkit-radial-gradient(circle, rgba(51, 51, 51, 0.7) 0%, rgba(0,0,0,.9) 100%), url(../images/1024-768.jpg);
  background-image: -moz-radial-gradient(circle, rgba(51, 51, 51, 0.7) 0%, rgba(0,0,0,.9) 100%), url(../images/1024-768.jpg);
  background-image: -ms-radial-gradient(circle, rgba(51, 51, 51, 0.7) 0%, rgba(0,0,0,.9) 100%), url(../images/1024-768.jpg);
  background-image: -o-radial-gradient(circle, rgba(51, 51, 51, 0.7) 0%, rgba(0,0,0,.9) 100%), url(../images/1024-768.jpg);
  background-image: radial-gradient(circle, rgba(51, 51, 51, 0.7) 0%, rgba(0,0,0,.9) 100%), url(../images/1024-768.jpg);
  background-size: cover;
}

.container {
  padding: 15px 30px;
}

header {
  height: 50px;
  border-bottom: 3px solid #C0FF00;
  padding-bottom: 5px;
  box-sizing: content-box;
}

header h2 {
  float: left;
  width: 70%;
  padding-top: 20px; 
  font-size: 1.5em;
}

#timer {
  float: right;
  height: 40px;
  padding-left: 50px;
  text-align: right;
  background: url(../images/clock.png) no-repeat left center;
  background-size: contain;
  line-height: 40px;
  font-size: 1.8em;
}

#timer ul li {
  width: 10px;
  display: inline-block;
  text-align: center;
}

section#words-field {
  float: left;
  margin-top: 50px;
  margin-left: 30px;
  overflow: hidden;
}

#words-field ul {
  width: 400px;
  height: 400px;
}

#words-field li {
  height: 100px;
  width: 100px;
  float: left;
  padding-top: 10px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  list-style: none;
  cursor: pointer;
  color: #E6FF99;
  text-align: center;
  font-size: 3.75em;
  text-transform: uppercase; 
}

#words-field li:nth-child(4n+4) {
  border-right: none;
}

#words-field li:nth-child(1n+13) {
  border-bottom: none;
}

/*-----game-panel-section-----*/
.game-panel {
  width: 52%;
  float: right;
  margin-top: 50px;
  overflow: hidden;
}

.current-word {
  overflow: hidden;
}

.current-word h3 {
  padding: 0 30px;
  font-size: 1.5em;
}

.mark {
  width: 30px;
  height: 45px;
  float: left;
}

#word-field {
  width: 60%;
  height: 45px;
  float: left;
  border-bottom: 1px solid #ccc;
  line-height: 45px;
  color: #C0FF00;
  font-size: 2.25em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.buttons {
  float: right;
  margin-right: 30px;
  text-align: center;
}

.buttons button {
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 9px;
  background-color: transparent;
  font: inherit;
  /*outline: none;*/
  color: #ccc;
  font-size: 1.1em;
}

.buttons button:first-child {
  margin-right: 5px;
}

.total-container {
  width: 100%;
  height: 50px;
  overflow: hidden;
}

.found-words {
  width: 100%;
  margin-top: 50px;
  padding: 0 30px;
  overflow: hidden;
  opacity: 0;
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
  -webkit-transition:opacity 1s ease;
   -moz-transition:opacity 1s ease;
     -o-transition:opacity 1s ease;
        transition:opacity 1s ease;
}

.found-words h3 {
  width: 50%;
  float: left;
  padding-top: 20px;
  font-size: 1.5em;
}

#total p{
  width: 50%;
  float: left;
  text-align: right;
  font-size: .95em;
}

#total span {
  padding-left: 20px;
  color: #c0ff00;
  font-size: 2.5em;
}

.words-list {
  max-height: 340px;
  min-height: 50px;
  padding: 10px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  overflow: auto;
}

.words-list li {
  display: block;
  overflow: hidden;
  line-height: 1.4em;
  list-style: none;
  font-size: 1.5em;
}

.words-list p {
  float: left;
}

.words-list span {
  float: right;
}

/* ----------Game styles---------------*/
.is-active {
  background-color: rgba(256,256,256,.3);
}

.win-mark {
  background: url(../images/correct_word.png) no-repeat center left;
  background-size: 20px 20px;
}

.fail-mark {
  background: url(../images/wrong_word.png) no-repeat center left;
  background-size: 20px 20px;
}

.is-existed {
  background-color: rgba(256,256,256,.5);
}

/*----------End Of Game------------*/
.finish {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-image: -webkit-radial-gradient(circle, rgba(51, 51, 51, 0.7) 0%, rgba(0,0,0,.9) 100%), url(../images/1024-768.jpg);
  background-image: -moz-radial-gradient(circle, rgba(51, 51, 51, 0.7) 0%, rgba(0,0,0,.9) 100%), url(../images/1024-768.jpg);
  background-image: -ms-radial-gradient(circle, rgba(51, 51, 51, 0.7) 0%, rgba(0,0,0,.9) 100%), url(../images/1024-768.jpg);
  background-image: -o-radial-gradient(circle, rgba(51, 51, 51, 0.7) 0%, rgba(0,0,0,.9) 100%), url(../images/1024-768.jpg);
  background-image: radial-gradient(circle, rgba(51, 51, 51, 0.7) 0%, rgba(0,0,0,.9) 100%), url(../images/1024-768.jpg);
  background-size: cover;
}
