@font-face {
	font-family: 'game';
	src:url('fonts/game.eot?s4dtqw');
	src:url('fonts/game.eot?#iefixs4dtqw') format('embedded-opentype'),
		url('fonts/game.woff?s4dtqw') format('woff'),
		url('fonts/game.ttf?s4dtqw') format('truetype'),
		url('fonts/game.svg?s4dtqw#game') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'game';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
	content: "\e600";
}
.icon-checkmark:before {
	content: "\e601";
}
